:root {
  /* Colors */
  --color-blue: #457b9d;
  --color-blue-light: #a8dadc;
  --color-blue-dark: #1d3557;
  --color-red: #e63946;
  --color-black: #000000;
  --color-white: #ffffff;
}

.purchaseCard {
  border: 1px solid var(--color-blue);
  padding: 10px;
  border-radius: 12px;
  color: #515151;
  overflow: hidden;
}

.purchaseCard__data {
  margin: 0 0 15px 0;
  font-size: 18px;
}

.purchaseCard__line {
  width: 120%;
  position: relative;
  left: -20px;
  color: var(--color-blue);
}

.purchaseCard__list {
  padding: 10px;
}
