@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  /* Colors */
  --color-blue: #457b9d;
  --color-blue-light: #a8dadc;
  --color-blue-dark: #1d3557;
  --color-red: #e63946;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  font-family: "Lato", sans-serif;
}

html {
  font-size: 72.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

a {
  font-family: inherit;
  text-decoration: none;
}

input {
  outline: none;
}
